<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
    <div class="container mt-5">
        <h2>Super 8 - Beach Tennis</h2>
        <form id="atletasForm">
            <div class="form-group">
                <label for="atleta1">Nome do Atleta 1</label>
                <input type="text" id="atleta1" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit1"><i class="material-icons">edit</i></a>
            </div>
            <div class="form-group">
                <label for="atleta2">Nome do Atleta 2</label>
                <input type="text" id="atleta2" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit2"><i class="material-icons">edit</i></a>
            </div>
            <div class="form-group">
                <label for="atleta3">Nome do Atleta 3</label>
                <input type="text" id="atleta3" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit3"><i class="material-icons">edit</i></a>
            </div>
            <div class="form-group">
                <label for="atleta4">Nome do Atleta 4</label>
                <input type="text" id="atleta4" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit4"><i class="material-icons">edit</i></a>
            </div>
            <div class="form-group">
                <label for="atleta5">Nome do Atleta 5</label>
                <input type="text" id="atleta5" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit5"><i class="material-icons">edit</i></a>
            </div>
            <div class="form-group">
                <label for="atleta6">Nome do Atleta 6</label>
                <input type="text" id="atleta6" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit6"><i class="material-icons">edit</i></a>
            </div>
            <div class="form-group">
                <label for="atleta7">Nome do Atleta 7</label>
                <input type="text" id="atleta7" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit7"><i class="material-icons">edit</i></a>
            </div>
            <div class="form-group">
                <label for="atleta8">Nome do Atleta 8</label>
                <input type="text" id="atleta8" name="atleta[]" class="form-control" required>
                <a class="btn-floating disabled" id="edit8"><i class="material-icons">edit</i></a>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Atletas</button>
        </form>
        <div id="message" class="mt-3"></div>
    </div>
    <div class="mb-4">
        <h3>Lista de Atletas</h3>
        <button id="loadAthletes" class="btn btn-secondary mb-3">Carregar Lista de Atletas</button>
        <ul id="athleteList" class="list-group"></ul>
    </div>
</body>
</html>